{% extends "layout.html" %}

{% block title %}Ingresos{% endblock %}

{% block content %}
<h2 class="mb-4">Lista de Ingresos</h2>

<a href="/ingresos/registrar" class="btn btn-primary mb-3">Registrar nuevo ingreso</a>

<div class="mb-3">
    <strong>Total ingresos:</strong> S/ {{ total }}
</div>

<div class="row">
    {% if ingresos %}
    {% for ingreso in ingresos %}
    <div class="col-md-4">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">

                <h5 class="card-title">Ingreso</h5>

                <p><strong>Monto:</strong> S/ {{ ingreso.monto }}</p>
                <p><strong>Descripción:</strong> {{ ingreso.descripcion }}</p>
                <p class="text-muted">
                    {{ ingreso.fecha.strftime("%d/%m/%Y %H:%M") }}
                </p>

            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-muted">No tienes ingresos registrados.</p>
    {% endif %}
</div>

{% endblock %}
